{% extends 'base.html' %}
{% load static %}


{% block title %} Home Page {% endblock %}

{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">
          {% for post in posts %}
            <div class="item">
              <img src="{{ post.image.url }}" alt="">
              <div class="item-content">
              <div class="main-content">
                  <div class="meta-category">
                      <span>{{ post.category.all.first }}</span>
                  </div>
                  <a href="{{ post.get_absolute_url }}"><h4>{{ post.title }}</h4></a>
                  <ul class="post-info">
                    <li><a href="#">{{ user.profile.user.username }}</a></li>
                    <li><a href="#">{{ post.created }}</a></li>
                    <li><a href="#">12 Comments</a></li>
                  </ul>
              </div>
            </div>
            </div>
          {% endfor %}


        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->


    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">

                  {% for r_post in recent_posts %}
                      <div class="col-lg-12">
                        <div class="blog-post">
                          <div class="blog-thumb">
                            <img src="{{ r_post.image.url }}" alt="">
                          </div>
                          <div class="down-content">
                            <span>{{ r_post.category.first }}</span>
                            <a href="post-details.html"><h4>{{ r_post.title }}</h4></a>
                            <ul class="post-info">
                              <li><a href="#">{{ r_post.author.username }}</a></li>
                              <li><a href="#">{{ r_post.created }}</a></li>
                              <li><a href="#">12 Comments</a></li>
                            </ul>
                            <p>{{ r_post.body }}</p>
                            <div class="post-options">
                              <div class="row">
                                <div class="col-6">
                                  <ul class="post-tags">
                                    <li><i class="fa fa-tags"></i></li>
                                    <li><a href="#">Beauty</a>,</li>
                                    <li><a href="#">Nature</a></li>
                                  </ul>
                                </div>
                                <div class="col-6">
                                  <ul class="post-share">
                                    <li><i class="fa fa-share-alt"></i></li>
                                    <li><a href="#">Facebook</a>,</li>
                                    <li><a href="#"> Twitter</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  {% endfor %}

                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="{% url 'blog:list' %}">View All Posts</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% include "includes/sidebar.html" %}
        </div>
      </div>
    </section>

{% endblock %}
