{% load static %}

<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home_page:home' %}"><h2>Stand Blog<em>.</em></h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            <a class="nav-link" href="{% url 'home_page:home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About Us</a>
          </li>
          <li class="nav-item {% if request.resolver_match.url_name == 'list' %}active{% endif %}">
            <a class="nav-link" href="{% url 'blog:list' %}">All Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>


          <!-- Authenticate permissions -->
          <li class="nav-item">
              {% if request.user.is_authenticated %}
                    <div class="d-flex">
                        {% if user.profile.image %}
                            <span>
                                <img
                                  src="{{ user.profile.image.url }}" width="25px" height="25px"
                                  style="border-radius: 100%" alt="{{ user.profile.user.username }}"
                                >
                            </span>
                        {% else %}
                            <span>
                                <img src="{% static 'images/profile.png' %}" width="25px" height="25px%" style="border-radius: 100%">
                            </span>
                        {% endif %}
                        <a class="nav-link text-success" href="#">{{ user.profile.user.username }}</a>
                        <span class="mt-1.5" style="font-size:25px">/</span>
                        <a class="nav-link text-danger" href="{% url 'accounts:logout' %}">Logout</a>
                    </div>
              {% else %}
                  <div class="d-flex">
                      <a class="nav-link text-success" href="{% url 'accounts:login' %}">Login</a>
                      <span class="mt-1.5" style="font-size:25px">/</span>
                      <a class="nav-link text-primary" href="{% url 'accounts:register' %}">Register</a>
                  </div>
              {% endif %}
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
